<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PROPFIND</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <div id="feedback"></div>

        <form class="form-horizontal" id="search-form">
<!--            <div class="form-group form-group-lg">-->
<!--                <label class="col-sm-2 control-label">TEST</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" id="username"/>-->
<!--                </div>-->
<!--            </div>-->
            <input type="text" id="username" hidden value="test">

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search">PROPFIND
                    </button>
                </div>
            </div>
            <div id="options_content"></div>
        </form>

    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="js/main.js"></script>

<script>
$(document).ready(function(){
    $('#options_content').load("https://limitless-fortress-64413.herokuapp.com/");
});
</script>

</body>
</html>